.vagrant
notebooks/*.png
notebooks/*.svg
notebooks/*.pdf
notebooks/*.pdb
notebooks/*.ndx
tmp
doc/build
# Ignore Jupyter checkpoints
*.ipynb_checkpoints
# Ignore VSCode stuff
*.vscode
# Ignore vim files
*.sw[a-z]
# Ignore the .DS_Store file in the osx file system
*.DS_Store
# Ignore python bytecoded files
*.py[c|o]
*.[oa]
*~
*.bak
*.so

# Ignore generated docs
*.txt

# example files
doc/source/examples/analysis/*.pdb
doc/source/examples/analysis/*.xtc
doc/source/examples/analysis/*.dcd
doc/source/examples/analysis/.*