name: mda-user-guide
channels:
  - conda-forge
  - plotly
dependencies:
  - cython
  - ipywidgets
  - ipython
  - jupyter_contrib_nbextensions
  - mdanalysis
  - MDAnalysisTests
  - nbsphinx
  - nglview
  - numpy>=1.18.5
  - pip
  - plotly
  - pybtex
  - sphinx==2.2.0
  - sphinxcontrib-bibtex
  - sphinx_rtd_theme
  - tabulate
  - pip:
      - msmb_theme==1.2.0
      - sphinx-sitemap==1.0.2
