name: mda-user-guide
channels:
  - conda-forge
  - defaults
dependencies:
  - mdanalysis
  - mdanalysistests
  - cython
  - dask
  - decorator
  - docutils
  - graphviz
  - ipywidgets<8.0.0
  - ipython
  - ipygany
  - jedi
  - jinja2<3.0
  - jupyter_contrib_nbextensions
  - matplotlib
  - nbclient
  - nbconvert
  - nbformat
  - nbsphinx
  - networkx
  - nglview
  - notebook
  - numpy
  - packaging
  - parmed
  - parso
  - pip
  - plotly
  - pybtex
  - python
  - pyvista
  - scikit-image
  - sphinx
  - sphinxcontrib-bibtex
  - sphinx_rtd_theme
  - threadpoolctl
  - tabulate
  - widgetsnbextension
  - Jinja2
  - pip:
      - msmb_theme
      - sphinx-sitemap
