name: mda-user-guide
channels:
  - defaults
  - conda-forge
  - plotly
dependencies:
  - cython
  - ipywidgets
  - ipython
  - jupyter_contrib_nbextensions
  - matplotlib==3.2.2
  - nbsphinx
  - nglview
  - numpy>=1.18.5
  - pip
  - plotly
  - pybtex
  - sphinx==3.4.2
  - sphinxcontrib-bibtex<2.0.0
  - sphinx_rtd_theme==0.5.1
  - tabulate
  - pip:
      - msmb_theme==1.2.0
      - sphinx-sitemap==1.0.2
      - git+https://github.com/MDAnalysis/mdanalysis@develop#egg=mdanalysis&subdirectory=package
      - git+https://github.com/MDAnalysis/mdanalysis@develop#egg=MDAnalysisTests&subdirectory=testsuite
