ipython==7.14.0
ipywidgets==7.5.1
jupyter-contrib-nbextensions
MDAnalysis==1.0.0
MDAnalysisTests==1.0.0
msmb_theme==1.2.0
nbsphinx==0.5.1
nglview==2.7.1
numpy==1.18.5
sphinx==2.2.0
sphinxcontrib-bibtex==1.0.0
sphinx-rtd-theme==0.4.3
sphinx-sitemap==1.0.2
tabulate==0.8.5
pybtex==0.22.2
plotly==4.5.1