cython
ipython
ipywidgets<8.0.0
jupyter-contrib-nbextensions
matplotlib
msmb_theme
nbsphinx
nbval
nglview
numpy
packaging
pandoc
pybtex
plotly
pre-commit
sphinx
sphinxcontrib-bibtex
sphinx-rtd-theme
sphinx-sitemap
tabulate
threadpoolctl
git+https://github.com/MDAnalysis/mdanalysis@develop#egg=mdanalysis&subdirectory=package
git+https://github.com/MDAnalysis/mdanalysis@develop#egg=MDAnalysisTests&subdirectory=testsuite
pyedr>=0.7.0
