name: mda_gh_ci_tests
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
  schedule:
    # 3 am Tuesdays and Fridays
    - cron: "0 3 * * 2,5"

concurrency:
  # Probably overly cautious group naming.
  # Commits to develop/master will cancel each other, but PRs will only cancel
  # commits within the same PR
  group: "${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  tests:
    runs-on: ubuntu-latest
    name: "examples-tests"
    
    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: True
          use-mamba: True
          python-version: 3.9
          miniforge-variant: Mambaforge
          environment-file: environment.yml
          activate-environment: mda-user-guide

      - name: "environment information"
        run: |
          mamba info -a
          mamba list

      - name: build_hole
        run: |
          # We manually build hole2 to avoid OS incompatibilities
          git clone https://github.com/MDAnalysis/hole2.git --depth 1
          cd hole2/src
          source ../source.apache
          make && make PREFIX=${HOME}/hole2 install
          source ../source.unset
          echo "HOLE_BINDIR=${HOME}/hole2/bin" >> $GITHUB_ENV
          echo "${HOME}/hole2/bin" >> $GITHUB_PATH

      - name: "test notebooks"
        run: |
          cd ${GITHUB_WORKSPACE}/tests
          pytest
